<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลตู้นํ้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let item of items">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg"
            alt="User profile picture">
        </div>

        <h3 class="profile-username text-center">{{item.location}}</h3>
        <p class="text-muted text-center">{{item.installDate}}</p>


        <span *ngIf="item.CountingMoney != null">
          <!-- About Me Box -->
          <div class="card card-primary" *ngFor="let money of item.CountingMoney; index as i">
            <div class="card-header">
              <h3 class="card-title">ข้อมูลการนับเงินครั้งที่ {{i+1}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body" >
              <strong><i class="fas fa-book mr-1"></i> วันที่นับเงิน</strong>
              <p class="text-muted">
                {{money.date}}
              </p>
              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> จำนวนเงิน</strong>
              <p class="text-muted">{{money.amount}}</p>
              <hr>
              
              <strong><i class="far fa-file-alt mr-1"></i> หมายเหตุ</strong>
              <p class="text-muted">{{money.remark}}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </span>

        <span *ngIf="item.ChangFilter != null">
          <!-- About Me Box -->
          <div class="card card-primary" *ngFor="let Filter of item.ChangFilter; index as i">
            <div class="card-header">
              <h3 class="card-title">ข้อมูลเปลี่ยนกรองครั้งที่ {{i+1}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body" >
              <strong><i class="fas fa-book mr-1"></i> วันที่เปลี่ยน</strong>
              <p class="text-muted">
                {{Filter.date}}
              </p>
              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> กรองปกติ</strong>
              <p class="text-muted">{{Filter.filter}}</p>
              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> กรอง RO</strong>
              <p class="text-muted">{{Filter.filter}}</p>
              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> หมายเหตุ</strong>
              <p class="text-muted">{{Filter.remark}}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </span>

        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- Profile Image -->

  <!-- /.card -->


</ion-content>